items assets kind software-package url https://github.com/Gamediamond3757/Overdrive/releases/latest/download/OverdriveSigned.ipa kind display-image needs-shine url https://gamediamond3757.github.io/Oversrive/jWztH6.png metadata bundle-identifier com.anki.overdrive bundle-version 1502 kind software title OverDrive 
